# Virtual environments
venv/
.venv/
env/

# Data and Outputs
dataset/
ML/dataset/*
!ML/dataset/.gitkeep
DL/dataset/*
!DL/dataset/.gitkeep
/outputs/
ML/outputs/*
!ML/outputs/.gitkeep
!ML/outputs/plots/
!ML/outputs/plots/*
DL/outputs/*
!DL/outputs/.gitkeep
!DL/outputs/*.png
!DL/outputs/*.jpg
!DL/outputs/*.pdf

# Python
__pycache__/
*.pyc
*.pyo
*.pkl
*.pth

# Jupyter
.ipynb_checkpoints/

# IDE and OS
.DS_Store
.vscode/
.idea/
